/* styles.css */
body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f9;
   margin: 0;
   padding-top: 60px;
   border-radius: 10px ;
   -webkit-border-radius: 10px ;
   -moz-border-radius: 10px ;
   -ms-border-radius: 10px ;
   -o-border-radius: 10px ;
}
  
  #form-container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1#title {
   color: #333;
   margin-top: 5px;
   text-align: center;
   background-color: whitesmoke;
   border-radius: 10px;
  }
   p#description { 
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   text-align: center;
   }

  
  #survey-form {
    text-align: center;
    margin-top: 10px;
    border: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 45%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing:  border-box;
    
    
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  fieldset legend {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  label input[type="radio"],
  label input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button#submit {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #539ff0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#submit:hover {
    background-color: #0056b3;
  }
  